/* BASE */
body {
	margin: 0;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image:
		url("#{resource['resvut42/img/backgroundTamagu.png']}");
}

/* Configuração Layout.xhtml */
.r42-header {
	top: 1px;
	right: 1px;
	left: 1px;
}

.r42-footer {
	position: fixed;
	right: 1px;
	left: 1px;
	bottom: 1px;
	height: 30px;
}

.r42-footer p {
	margin: 0px;
	text-align: center;
	font-size: 14pt;
	font-style: oblique;
}

/* Configuração Menu / Inicio.xhtml*/
.r42-menuuser {
	margin-top: 1px;
	float: right;
}

.r42-menubar {
	margin-top: 1px;
	float: left;
	width: 240px;
	height: 520px;
	overflow-y: auto;
}

/* Configurações Geral para padronização de páginas*/
.r42-pagina {
	margin-bottom: 40px;
	margin-right: 1px;
	margin-left: 1px;
}

.r42-toolbar {
	margin-top: 5px;
	margin-bottom: 5px;
}

.r42-toolbar-right {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px
}

.r42-dialogo {
	width: 80% !important;
	height: 90% !important;
	overflow: auto !important;
}

.r42-dialogo2 {
	width: 60% !important;
	height: 70% !important;
	overflow: auto !important;
}

.r42-panelgrid {
	margin-top: 5px;
}

.r42-dashboard {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.r42-positivo {
	float: right;
	color: blue;
}

.r42-negativo {
	float: right;
	color: red;
}

/**************************/
/*Configuração para mobile*/
/**************************/
@media ( max-width : 960px) {
	.r42-header {
		font-size: 10px;
	}
	.r42-dialogo {
		width: 100% !important;
		height: 100% !important;
		overflow: auto !important;
	}
	.r42-dialogo2 {
		width: 100% !important;
		height: 100% !important;
		overflow: auto !important;
	}
	.r42-panelgrid input {
		width: 80%;
	}
}