/* BASE */
body {
    margin: 0;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
    background-image: url("#{resource['resvut42/img/background.png']}");  
}

/* Configuração Layout.xhtml */
.r42-header{
	position: fixed;
    top: 1px;
    right: 1px;
    left: 1px;
    height: 50px;	
}

.r42-footer{
    position: fixed;
    right: 1px;
    left: 1px;
    bottom: 1px;
    height: 30px;
}
.r42-footer p{
	margin: 0px;
	text-align: center;
	font-size: 14pt;
	font-style: oblique;
}

/* Configuração Menu */
.r42-menubar{
    margin-top: 65px;
    margin-bottom: 40px;
    margin-right: 1px;
    margin-left: 1px;  
    width: 240px;
    height: 518px;
    overflow-y: auto;	
}

/* Configurações Geral para padronização de páginas*/
.r42-panel-dados{
    
    margin-top: 5px;
        
}
.r42-pagina {
    margin-top: 65px;
    margin-bottom: 40px;
    margin-right: 1px;
    margin-left: 1px;       
}